body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
input {
  padding: 12px 20px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  width: 400px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  gap: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding: 4px 12px;
  max-width: 600px;
  width: 100%;
}
.search-container:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border: 1px solid #00ade7;
}
input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 16px;
}
.buttons {
  display: flex;
  gap: 10px;
}
.buttons button {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
}
.buttons button:hover {
  border: 1px solid #9e9e9e;
}
.languages a {
  text-decoration: none;
}
.languages a:hover {
  text-decoration: underline;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  font-size: 14px;
  font-family: arial, sans-serif;
}
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 35px;
}
.footer-country {
  font-size: 15px;
  padding: 15px 30px;
  border-bottom: 1px solid rgb(212, 214, 218);
  color: #2f2f2f;
}
.footer-left,
.footer-right {
  display: flex;
  gap: 30px;
  font-size: 14px;
}
footer a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}
footer a:hover {
  text-decoration: underline;
}
